---
import Layout from '@/components/base.astro';
import Navbar from '@/components/navbar.astro';
import NotificationSettings from '@/components/react/notifications';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<Layout title={SITE_TITLE + " - Notification Settings"} description={SITE_DESCRIPTION}>
	<Navbar active={"notifications"} />
	<main class="min-h-screen bg-zinc-950 pt-20">
		<div class="py-8">
			<NotificationSettings base={"{{base_path | safe}}"} client:only="@astrojs/react" />
		</div>
	</main>
</Layout>
