# example systemd file. edit as needed

[Unit]
Description=OPM Daemon
After=network.target

[Service]
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

User=root
Type=forking
WorkingDirectory=/root/.opm
PIDFile=/root/.opm/daemon.pid
Restart=on-failure
StartLimitInterval=180
StartLimitBurst=30
RestartSec=5s

ExecStart=/root/.cargo/bin/opm daemon start -vvv
ExecStop=/root/.cargo/bin/opm daemon stop -vvv

[Install]
WantedBy=multi-user.target
